@{
    string path = Model.FirstPhoto.Replace("img", "imgMin");
<div class="row row-cols-2 rounded shadow-sm m-2">
        <div class="col p-0 verticalhorizontal rounded"  style="width:100%; height: 100%;  display:flex; align-items: center; justify-content: center;">
            <img class="shadow rounded" style="width:100%; height:162px; object-fit: cover; z-index:2; position: relative;" src="@path" />
        </div>

        <div class="col position-relative mt-2">
            <h5 class="">@Model.Name</h5>
            <p class="lead" style="min-height:30px">@if (@Model.Description.Length > 30)
                {
                    @Model.Description.Substring(0, 20).Insert(20, "...");;
                }
                else
                {
                    @Model.Description;
                }
            </p>
            
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group p-2 justify-content-between align-items-center" style="position:absolute;bottom:0;left:0">
                    <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Product" asp-action="ViewProduct" target="_blank" asp-route-productId="@Model.ProductId">Перейти</a>
                </div>
            </div>
        </div>
</div>
}
