@{
    ViewData["Title"] = "Новый лот";
}

<div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form  asp-action="AddProduct" asp-controller="Product" asp-anti-forgery="true" enctype="multipart/form-data" id="form1"  class="p-4 p-md-5 border rounded-3 bg-light needs-validation" novalidate>
          <div class="form-floating mb-3">
            <input type="text" name="Name" class="form-control" id="validationDefault01" placeholder="Name" required>
            <label for="validationDefault01">Название</label>
          </div>
          
          <div class="form-floating mb-3">
            <div class="wp-textarea-wrap">
              <textarea type="text"  id="validationDefault02" name="Description" class="wp-textarea" placeholder="Описание..." style="overflow-x: hidden !important; overflow-y: hidden; overflow-wrap: break-word !important; height: 200px; width: 100%; overflow-y: scroll; resize: none;" required></textarea>
            </div>
          </div>

          <div class="form-floating mb-3">
            <select name = "CityId" class="form-control" id="validationDefault05" placeholder="CityId" required>
                    <option selected disabled value=""></option>
                    @foreach (City c in @ViewBag.City)
                    {
                        <option value=@c.CityId>@c.Name</option>
                    }
                </select>
            <label for="validationDefault05">Город</label>
          </div>

            
          <div id="validationDefault06"  style="width:100%;" class="btn-group dropend mb-3">
              <select name = "CategoryId" class="form-control" id="CategoryId" placeholder="CategoryId"  required style="pointer-events: none;">
                    <option selected disabled value="">Выбранная категория</option>
                    @foreach (Category category in @ViewBag.Category)
                    {
                        <option value=@category.CategoryId>@category.Name</option>
                    }
                </select>
              <a class="btn btn-sm dropdown" style="color: black; font-size: 16px; border-color: rgba(0,0,0,0.2); width:100%" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Категории</a>
              <ul id="test1" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="list-style-type: none;">
                  @foreach(Category cat in @ViewBag.Category)
                        {
                            if(cat.CategoryParent==-1)
                            {
                                <li class="dropend" style="list-style-type:none">
                                    <a class="btn btn-sm dropdown" onclick="category_extension(@cat.CategoryId)" ondblclick="category_select(@cat.CategoryId)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">@cat.Name</a>
                                    <ul id="@cat.CategoryId" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" ></ul>
                                </li>
                            }
                        }
              </ul>
          </div>




          <div class="mb-1">
            <input type="file" name="Image" class="form-control" id="selectedfile" accept="image/jpeg,image/png" placeholder="Image" onchange="check_extension();" multiple required>
          </div>

          <div class="mb-1">
            <output id="results" name="results"></output>
          </div>

          <input class="w-100 btn btn-lg btn-primary" id="uploadProduct" type="submit" value="Добавить"/>
          
        </form>

      </div>
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
    </div>
    <script src="~/js/valid.js" asp-append-version="true"></script>
    <script src="~/js/check_photo.js" asp-append-version="true"></script>
