 <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document" >
    <div class="modal-content rounded-5 shadow backgroundColor3 borderColor3 textColor">
      <div class="modal-header pb-2 border-bottom-0">
        <h5 class="modal-title textColor">Редактировать лот</h5>
        <button type="button" onclick="Close_deal()" class="btn-close backgroundColor2 borderColor2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container scrollbarT scrollbar-secondary bordered-danger backgroundColor3 borderColor3 textColor">
          <div>
            <form asp-action="EditProduct" asp-controller="Product" asp-anti-forgery="true" enctype="multipart/form-data" id="form1"  class="p-4 needs-validation" novalidate>
                <input type="hidden" name="ProductId" placeholder="ProductId" value="@Model.ProductId">
              <div class="form-floating mb-3">
                <input type="text" name="Name" autocomplete="off" class="form-control backgroundColor borderColor textColor" id="validationDefault01" placeholder="Name" required minlength="3" maxlength="30" value="@Model.Name">
                <label class="textColor2" for="validationDefault01">Название</label>
              </div>
          
              <div class="form-floating mb-3">
                <div class="wp-textarea-wrap">
                  <textarea type="text"  id="validationDefault02" name="Description" class="form-control rounded scrollbarT scrollbar-secondary bordered-danger thin backgroundColor borderColor textColor" placeholder="Описание..." style="overflow-x: hidden !important; overflow-y: hidden; overflow-wrap: break-word !important; height: 200px; width: 100%; overflow-y: scroll; resize: none;" required>@Model.Description</textarea>
                </div>
              </div>

              <div class="form-floating mb-3">
                <select name = "CityId" class="form-control backgroundColor borderColor textColor" id="validationDefault05" placeholder="CityId" required>
                        @foreach (City c in @ViewBag.City)
                        {
                            if (c.CityId == Model.CityId)
                            {
                                <option selected class="textColor" value=@c.CityId>@c.Name</option>
                            }
                            else
                            {
                                <option class="textColor" value=@c.CityId>@c.Name</option>
                            }
                        }
                    </select>
                <label class="textColor2" for="validationDefault05">Город</label>
              </div>

            
              <div id="validationDefault06"  style="width:100%;" class="btn-group dropend mb-3 rounded">
                  <select name = "CategoryId" class="form-control backgroundColor borderColor3 textColor2" id="CategoryId" placeholder="CategoryId"  required style="pointer-events: none; border-top-right-radius:0px; border-bottom-right-radius:0px;">
                        @foreach (Category category in @ViewBag.Category)
                        {
                            if (category.CategoryId == Model.CategoryId)
                            {
                                <option selected value=@category.CategoryId>@category.Name</option>
                            }
                            else
                            {
                                <option value=@category.CategoryId>@category.Name</option>
                            }
                        }
                    </select>
                  <a class="btn btn-sm dropdown bg-light backgroundColor borderColor3 textColor" style="color: black; font-size: 16px; border-color: rgba(0,0,0,0.2); width:100%; border-top-right-radius:4px; border-bottom-right-radius:4px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Категории</a>
                  <ul id="test1" class="dropdown-menu backgroundColor borderColor" aria-labelledby="dropdownMenuButton1" style="list-style-type: none; border-radius: 10px;">
                      @foreach(Category cat in @ViewBag.Category)
                            {
                                if(cat.CategoryParent==-1)
                                {
                                    <li class="dropend chatElem2" style="list-style-type:none">
                                        <a class="btn btn-sm dropdown textColor" onclick="category_extension(@cat.CategoryId)" ondblclick="category_select(@cat.CategoryId)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">@cat.Name</a>
                                        <ul id="@cat.CategoryId" class="dropdown-menu backgroundColor borderColor" style="border-radius: 10px;" aria-labelledby="dropdownMenuButton1" ></ul>
                                    </li>
                                }
                            }
                  </ul>
              </div>

              <div class="mb-3 form-floating container rounded border backgroundColor borderColor textColor2" style="background: white">
                  <div id="photo" class="row row-cols-5">
                        @foreach(ProductPhoto img in ViewBag.Photos)
                        {
                            string path = img.Link.Replace("img", "imgMin");
                            <div id="@img.PhotoId" class="col mb-2">
                                <button type="button" onclick="delete_photo('@Model.ProductId', '@img.PhotoId')" class="bg-transparent text-secondary border-0">x</button>
                                <img class="rounded shadow" style="width:100%; height:100px; object-fit: cover; z-index:2; position: relative;" src="@path" />
                            </div>
                        }
                  </div>
              </div>

              <div class="mb-3">
                <input type="file" name="Image" onchange="edit_product()" class="form-control backgroundColor borderColor textColor2" id="selectedfile" accept="image/jpeg,image/png" placeholder="Image" multiple>
              </div>
             
              <input class="w-100 btn btn-lg btn-primary" id="uploadProduct" type="submit" value="Изменить"/>
          
            </form>

        </div>
      </div>
    </div>
  </div>

  <script src="~/js/valid.js" asp-append-version="true"></script>
  <script src="~/js/check_photo.js" asp-append-version="true"></script>


  