@using Domain.DTO
<div class="col">
@if(ViewBag.ProductCount != 0)
{
    foreach (ProductPhotoDto product in Model)
    {
        <div class="row row-cols-2 rounded shadow-sm m-3">
            <div class="col p-0 verticalhorizontal rounded"  style="max-width:30%; height: 100%;  display:flex; align-items: center; justify-content: center;">
                <img class="shadow rounded" style="width:100%; height:120px; object-fit: cover; z-index:2; position: relative;" src="@product.FirstPhoto" />
            </div>

            <div class="col">
                <h5 class="">@product.Name</h5>
                <p class="lead" style="min-height:30px">@if (@product.Description.Length > 30)
                    {
                        @product.Description.Substring(0, 20).Insert(20, "...");;
                    }
                    else
                    {
                        @product.Description;
                    }
                </p>
                <a class="btn btn-sm btn-outline-secondary align-text-bottom" asp-area="" asp-controller="Product" asp-action="ViewProduct" asp-route-productId="@product.ProductId">Перейти</a>
                <button id="heartList_@product.ProductId" type="button" class="bg-transparent text-danger border-0" onclick="favorit_list_add(event,'@product.ProductId')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}
else
{
      <p class="m-2">Пока что здесь ничего нет)</p>  
}
</div>
<script src="~/js/favorit.js" asp-append-version="true"></script>