@{
    ViewData["Title"] = @Model.Name;
}
    <div id="deal" class="modal modal-signin position-fixed d-block" role="dialog" style="z-index:9999; visibility: hidden; background: rgba(0,0,0,0); backdrop-filter: blur(10px);">
    </div>

  <form asp-action="Index" asp-controller="Home" class="mb-1" asp-anti-forgery="true" enctype="multipart/form-data" novalidate>
      <input type="hidden" name="Search" value=""/>
      <input type="hidden" name="CategoryId" value="@Model.CategoryId"/>
      <input type="hidden" name="CityId" value="@Model.CityId"/>
      <button class="btn btn-link link-secondary" type="submit" name="subscribe">@ViewBag.Category</button>
  </form>
  <div id="myCarousel" class="carousel slide mb-3 shadow borderColor3" style="background: gray; height: 500px; " data-bs-ride="carousel">
    <div class="carousel-indicators" style="z-index:3">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="0" class="active" aria-current="true"></button>
        @{
            if (@ViewBag.ImageCount > 0)
            {
                for (int i = 1; i <= @ViewBag.ImageCount; i++)
                {
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@i" aria-label="@i" class=""></button>
                }
            }
        }
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="verticalhorizontal" style="background: rgba(0,0,0,0.9); width:100%; height: 500px;  display:flex; align-items: center; justify-content: center;">
                <div class="verticalhorizontal" style="background: transparent url(@ViewBag.FirstPhoto) no-repeat center center;background-size: cover; background-position: center; filter: blur(10px); width: 100%; height: 100%; opacity: .7; z-index:1; position: absolute;"></div>
                <div class="w-100 h-100" style="background: transparent url(@ViewBag.FirstPhoto); background-size: contain; background-repeat: no-repeat; background-position: center; z-index:2; position: relative"></div>
            </div>
        </div>
        @{
            foreach (string link in @Model.Image)
            {
                 <div class="carousel-item">
                    <div class="verticalhorizontal" style="background: rgba(0,0,0,0.9); width:100%; height: 500px;  display:flex; align-items: center; justify-content: center;">
                        <div class="verticalhorizontal" style="background: transparent url(@link) no-repeat center center;background-size: cover; background-position: center; filter: blur(10px); width: 100%; height: 100%; opacity: .7; z-index:1; position: absolute;"></div>
                        <div class="w-100 h-100" style="background: transparent url(@link); background-size: contain; background-repeat: no-repeat; background-position: center; z-index:2; position: relative"></div>
                    </div>
                 </div>
            }
        }
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" style="z-index:3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" style="z-index:3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row featurette border-top borderColor3">
      <div class="col-lg-9 p-3">
        <div class="w-100 h-100 px-3 py-1 bg-light shadow rounded backgroundColor2 borderColor2 position-relative">
            <div role="alert">
                <h2 class="featurette-heading">@Model.Name</h2>
                <hr class="backgroundColor3">
                <div class="mb-1 textColor2">
                    <p>Категория: @ViewBag.Category</p>
                    <p>Город: @ViewBag.City</p>
                    <p>Дата размещения: @Model.Date.ToShortDateString()</p>
                </div>
                <hr class="bg-secondary w-25 backgroundColor3">
                <div class="mb-5">
                    <textarea class="textarea-read bg-light backgroundColor2 textColor" id="exampleFormControlTextarea1" readonly>@Model.Description</textarea>
                </div>
            </div>
            @{
                if (@ViewBag.Master)
                {
                    if (@ViewBag.Active)
                    {
                        <div class="p-2 d-flex justify-content-between align-items-center" style="position:absolute;bottom:0;left:0">
                          <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" onclick="edit_extension('@Model.ProductId')">Редактировать</a>
                            <a class="btn btn-sm btn-outline-danger" asp-area="" asp-controller="Product" asp-action="DeleteProduct" asp-route-productId="@Model.ProductId">Удалить</a>
                          </div>
                        </div>
                    }
                }
            }
        </div>
      </div>

      <div class="col-lg-3 p-3">
        <div class="bg-light shadow rounded p-2 backgroundColor2 borderColor2 textColor2" role="alert">
          <a asp-area="" asp-controller="Home" asp-action="GetUser" asp-route-userId="@ViewBag.User.UserId" style="text-decoration: none; color: rgb(30,30,30);"><h4 class="featurette-heading textColor">@ViewBag.User.Name</h4></a>
          <hr class="backgroundColor3">
          <p>Рейтинг: @Math.Round(ViewBag.User.Rating, 2)</p>
          <p>Кол-во обменов: @ViewBag.DealCount</p>
            @{
                if (!@ViewBag.Master)
                {
                    if (@ViewBag.Active)
                    {
                        <div class="btn-group w-100">
                            <a class="btn btn-outline-secondary" onclick="deal_extension('@Model.ProductId')" role="button">Предложить обмен</a>
                            <a class="btn btn-outline-primary" href="#" onclick="chat_create('@Model.UserId')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Написать</a>
                        </div>
                    }
                }
            }
        </div>
      </div>

      <h4 class="mt-5 mb-2">Похожие товары</h4>
        <div class="row mb-2">
            @{
                if (@ViewBag.SimilarCount>0)
                {
                    bool favorite = false;
                    foreach (Product product in @ViewBag.SimilarProduct)
                    {
                        <div class="col-lg-4 ">
                            <a asp-area="" asp-controller="Product" asp-action="ViewProduct" asp-route-productId="@product.ProductId" style="text-decoration: none; color: rgb(30,30,30);">
                                @Html.Partial("ListProduct", new { product, favorite })
                            </a>
                        </div>
                    }
                }
                else
                {
                    <h2 class="lead">В данной категории нет товаров</h2>
                }
            }
        </div>
    </div>
    <script src="~/js/addDeal.js" asp-append-version="true"></script>

  