@{
    ViewData["Title"] = "Главная";
}

    <div class="row justify-content-center mb-3 pt-xxl-2">
          
          <form id="searchForm" asp-action="Index" asp-controller="Home" asp-anti-forgery="true" enctype="multipart/form-data" novalidate>
              <div class="d-flex flex-column flex-sm-row rounded pt-1 pb-1" style="background: #0d6efd">
                  <a class="btn btn-primary shadow-primary btn-lg  dropdown"  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Категории</a>
                  <ul id="test1" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="list-style-type: none; border-radius:10px;">
                      <li class="dropend" style="list-style-type:none">
                        <a class="btn btn-sm dropdown btn-lg" onclick="category_extension(-1)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Без категории</a>
                      </li>
                      @foreach(Category cat in @ViewBag.Category)
                            {
                                if(cat.CategoryParent==-1)
                                {
                                    <li class="dropend" style="list-style-type:none">
                                        <a class="btn btn-sm dropdown btn-lg" onclick="category_extension(@cat.CategoryId)" ondblclick="category_select(@cat.CategoryId)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">@cat.Name</a>
                                        <ul id="@cat.CategoryId" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="border-radius:10px;"></ul>
                                    </li>
                                }
                            }
                  </ul>
                  <select name = "CategoryId" class="form-control form-control-lg" id="CategoryId" placeholder="CategoryId"  required style="pointer-events: none; width:30%; border-top-right-radius:0px; border-bottom-right-radius:0px" >
                    <option selected value="-1">Без категории</option>
                    @foreach (Category category in @ViewBag.Category)
                    {
                        if(category.CategoryId==ViewBag.CategorySelected)
                        {
                            <option selected value=@category.CategoryId>@category.Name</option>
                        }
                        else
                        {
                            <option value=@category.CategoryId>@category.Name</option>
                        }
                    }
                 </select>
                <input id="Search" class="form-control form-control-lg rounded-0" value="@ViewBag.SearchValue" type="text" name="Search" placeholder="Поиск" style="z-index:10;" required="">
                <select name = "CityId" class="form-control form-control-lg" id="validationDefault05" style="border-top-left-radius:0px; border-bottom-left-radius:0px; width:30%;" placeholder="CityId" required>
                    <option selected value="-1">Все города</option>
                    @foreach (City c in @ViewBag.City)
                    {
                        if(c.CityId==ViewBag.CitySelected)
                        {
                            <option selected value=@c.CityId>@c.Name</option>
                        }
                        else
                        {
                            <option value=@c.CityId>@c.Name</option>
                        }
                    }
                </select>
                <button class="btn btn-primary shadow-primary btn-lg" type="submit" name="subscribe">Найти</button>
              </div>
            </form>
        </div>


        <ul class="nav nav-pills mb-3 justify-content-md-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button onclick="page_selected('1')" type="button" class="nav-link active bg-transparent text-secondary border-0" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                </svg>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button onclick="page_selected('2')" type="button" class="nav-link bg-transparent text-secondary border-0" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x2-gap" viewBox="0 0 16 16">
                    <path d="M4 4v2H2V4h2zm1 7V9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 5V9a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 4v2H7V4h2zm5 0h-2v2h2V4zM4 9v2H2V9h2zm5 0v2H7V9h2zm5 0v2h-2V9h2zm-3-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V4zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-2z"/>
                </svg>
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row mb-2">
                    @{
                    if (@ViewBag.ProductCount>0)
                    {
                        bool favorite = true;
                        foreach (Product product in @Model)
                        {
                            <div class="col-lg-4">
                                <a class="product-link" asp-area="" asp-controller="Product" asp-action="ViewProduct" asp-route-productId="@product.ProductId" target="_blank" style="text-decoration: none; color: rgb(30,30,30);">
                                    @Html.Partial("ListProduct", new { product, favorite })
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <h2 class="lead">Нет лотов</h2>
                    }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row mb-2">
                  @{
                    if (@ViewBag.ProductCount>0)
                    {
                        bool favorite = true;
                        foreach (Product product in @Model)
                        {
                            <div class="col-lg-4 mb-3 card-min">
                                <a asp-area="" asp-controller="Product" asp-action="ViewProduct" asp-route-productId="@product.ProductId" class="p-0" target="_blank" style="text-decoration: none; color: rgb(30,30,30);">
                                    @Html.Partial("ListCardMin", product )
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <h2 class="lead">Нет лотов</h2>
                    }
                 }
              </div>
            </div>
        </div>

        <form id="searchPageForm" class="d-flex justify-content-center" asp-action="Index" asp-controller="Home" asp-anti-forgery="true" enctype="multipart/form-data" novalidate>
            <input type="hidden" name="CategoryId" value="@ViewBag.CategorySelected"/>
            <input type="hidden" name="Search" value="@ViewBag.SearchValue"/>
            <input type="hidden" name="CityId" value="@ViewBag.CitySelected"/>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            @if ((ViewBag.PageNumber + 1) > 5)
            {
                @if (!ViewBag.IsSearch)
                {
                    <li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-pageNumber="0">1</a></li>
                }
                else
                {
                    <li class="page-item">
                        <input class="page-link" type="submit"  name="pageNumber" value="1"/>
                    </li>
                }
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }


            @for(int i = 1; i <= ViewBag.PageCount; i++)
            {
                int number = i - 1;
                if ((i <= (ViewBag.PageNumber + 1) & i >= (ViewBag.PageNumber - 2)) | (i > (ViewBag.PageNumber + 1) & i <= (ViewBag.PageNumber + 4)))
                {


                    if (i == (ViewBag.PageNumber + 1))
                    {
                        if (!ViewBag.IsSearch)
                        {
                            <li class="page-item active"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-pageNumber="@number">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item active">

                                <input class="page-link" type="submit" name="pageNumber" value="@i"/>
                            </li>
                        }
                    }
                    else
                    {
                        if (!ViewBag.IsSearch)
                        {
                            <li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-pageNumber="@number">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                            
                                <input class="page-link" type="submit"  name="pageNumber" value="@i"/>
                            </li>
                        }
                    }


                }
            }

            @if ((ViewBag.PageNumber + 1) < ViewBag.PageCount -4)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
                @if (!ViewBag.IsSearch)
                {
                    int number = ViewBag.PageCount - 1;
                    <li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-pageNumber="@number">@ViewBag.PageCount</a></li>
                }
                else
                {
                    <li class="page-item">
                            
                        <input class="page-link" type="submit"  name="pageNumber" value="@ViewBag.PageCount"/>
                    </li>
                }
            }

            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        </form>


        <div class="row mt-4 mb-2">
        </div>


        <script>
            $('#searchPageForm [name="CategoryId"]').val($('#searchForm [name="CategoryId"]').val());
            $('#searchPageForm [name="Search"]').val($('#searchForm [name="Search"]').val());
            $('#searchPageForm [name="CityId"]').val($('#searchForm [name="CityId"]').val());
            function PageSelected(pageNumber){
                
            }
        </script>
        <script src="~/js/valid.js" asp-append-version="true"></script>
        <script src="~/js/check_photo.js" asp-append-version="true"></script>