  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document" >
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header pb-2 border-bottom-0">
        <h5 class="modal-title">Выберите товар для обмена</h5>
        <button type="button" onclick="Close_deal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
          <hr/>
          @foreach(Product product in ViewBag.MyProduct)
            {
                <div class="mb-4">
                    <a onclick="create_deal('@product.ProductId','@ViewBag.Product.ProductId','@ViewBag.Product.UserId')" class="p-0" style="text-decoration: none; color: rgb(30,30,30);">
                        @Html.Partial("ProductToList", product)
                    </a>
                </div>
            }
      </div>
      <hr>
      <div class="modal-footer flex-column border-top-0">
        <a class="btn btn-lg btn-light w-100 mx-0" 
            onclick="create_deal('@ViewBag.Product.ProductId','@ViewBag.Product.ProductId','@ViewBag.Product.UserId')">Предложить непрямой обмен</a>
      </div>
    </div>
  </div>