<div class="modal-dialog" role="document">
    <div class="modal-content rounded-6 shadow backgroundColor borderColor textColor">
        <div class="modal-header border-bottom-0">
            <h5 class="modal-title textColor">Подробности обмена</h5>
            <button type="button" onclick="Close_deal()" class="btn-close backgroundColor2 borderColor2 textColor" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container p-2">
            <a asp-area="" asp-controller="Home" asp-action="GetUser" asp-route-userId="@ViewBag.UserRecipient.UserId" style="text-decoration: none; color: rgb(30,30,30);"><h3 class="featurette-heading pb-2 textColor">@ViewBag.UserRecipient.Name</h3></a>
            <div class="mb-1 text-muted">@ViewBag.City.Name</div>
            <div id="rating" class="mb-1 text-muted">Оценка: @Math.Round(ViewBag.UserRecipient.Rating, 2)</div>
            <p class="mb-auto">@ViewBag.UserRecipient.PhoneNumber</p>
        </div>
        @if (ViewBag.Rating)
        {
            <form  asp-action="ViewDetails" asp-controller="Deal" asp-anti-forgery="true" enctype="multipart/form-data" id="form1" novalidate>
                <div class="container p-2">
                    <h5>Поставить оценку</h5>
                    <div class="rating-area" oninput="rating_extension()">
	                    <input type="radio" id="star-5" name="grade" value="5">
	                    <label for="star-5" title="Оценка «5»"></label>	
	                    <input type="radio" id="star-4" name="grade" value="4">
	                    <label for="star-4" title="Оценка «4»"></label>    
	                    <input type="radio" id="star-3" name="grade" value="3">
	                    <label for="star-3" title="Оценка «3»"></label>  
	                    <input type="radio" id="star-2" name="grade" value="2">
	                    <label for="star-2" title="Оценка «2»"></label>    
	                    <input type="radio" id="star-1" name="grade" value="1">
	                    <label for="star-1" title="Оценка «1»"></label>
                    </div>
                    <input type="text" name="dealId" value="@ViewBag.DealId" style="visibility: hidden;">
                </div>
            </form>
        }
    </div>
</div>