@using static Domain.Dto.DialogDto;


<div class="container p-0 m-0 position-relative h-100 w-100">
    @{
    IEnumerable<DialogDto> _model = Model as IEnumerable<DialogDto>;
    if (_model.Any())
    {
        @foreach(DialogDto dialogDto in Model)
        {
            if (ViewBag.User.UserId == dialogDto.User1)
            {

                <a href="#" id="@dialogDto.DialogId" onclick="open_chat('@dialogDto.DialogId')" class="openDialog list-group-item list-group-item-action py-3 lh-tight position-relative" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">@dialogDto.NameUser2</strong>
                        <small>@dialogDto.Date.ToString("HH:mm dd/MM")</small>
                    </div>
                    @if (dialogDto.IsRead)
                    {
                        <span id="_@dialogDto.DialogId" class="position-absolute top-0 start-0 p-1 bg-info border border-light rounded-circle" style="visibility:hidden">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    }
                    else
                    {
                        <span id="_@dialogDto.DialogId" class="position-absolute top-0 start-0 p-1 bg-info border border-light rounded-circle" style="visibility:visible">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    }
                </a>
            }
            else
            {
                <a href="#" id="@dialogDto.DialogId" onclick="open_chat('@dialogDto.DialogId')" class="openDialog list-group-item list-group-item-action py-3 lh-tight position-relative" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">@dialogDto.NameUser1</strong>
                        <small>@dialogDto.Date.ToString("HH:mm dd/MM")</small>
                    </div>
                    @if (dialogDto.IsRead)
                    {
                        <span id="_@dialogDto.DialogId" class="position-absolute top-0 start-0 p-1 bg-info border border-light rounded-circle" style="visibility:hidden">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    }
                    else
                    {
                        <span id="_@dialogDto.DialogId" class="position-absolute top-0 start-0 p-1 bg-info border border-light rounded-circle" style="visibility:visible">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    }
                </a>
            }
        }
        
    }
    else
    {
        <div class="position-relative h-100">
            <p class="position-absolute top-50 start-50 translate-middle text-center text-secondary pb-5">Нет чатов</p>
        </div>
    }
}
</div>
